<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="div1">
    <h1 style="margin-top:40px;margin-bottom:20px;margin-left:250px;"><b>Category Page</b> </h1>
     <form class="forms-sample" method="post" action="{% url 'update_category' cate_id=data.id %}"  enctype="multipart/form-data" >
         {% csrf_token %}
        <input type="text" placeholder="Add Category" name="cname" class="ip1" value="{{data.Cname}}"><br><br>
        <textarea name="description" id="" cols="101" rows="10" placeholder="Description"
                  style=" margin-left:50px;" >{{data.Description}}</textarea><br><br>
        <input type="file" placeholder="Add Image" name="image" class="ip2" style=" margin-left:50px;" ><br><br>
        <img src="{{data.Image.url}}" >

        <button type="submit" style=" margin-left:300px; background-color:#FF3D00;
        width:170px;height:40px;border:0px;border-radius:5px;color:white;"><b>Submit</b></button>
    </form>

<style>
.div1{
width:800px;
height:540px;
border:solid 2px grey;
margin-top:10px;
border-radius:5px;
}
    .ip1{
    width:720px;
    height:45px;
    margin-left:50px;
    }
</style>

</body>
{% endblock %}
</html>